---
- name: Copy config files
  ansible.builtin.copy:
    src: config/
    dest: "{{ app_config_path }}"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: "0640"
  notify: restart pension
  tags: installation
  no_log: true

- name: Copy config.json
  ansible.builtin.template:
    src: "config/config.json.j2"
    dest: "{{ app_config_path }}/config.json"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: "0640"
  notify: restart pension
  tags: configuration
  no_log: true

- name: AWS credentials config
  ansible.builtin.include_role:
    name: config
    tasks_from: inqwise.common.aws_utils
    apply:
      tags: configuration
  vars:
    aws_config_region: "{{ ec2_instance.region }}"
    aws_access_key_id: "{{ app_filesystem_aws.access_key }}"
    aws_secret_access_key: "{{ app_filesystem_aws.secret_access_key }}"
  tags: configuration
