[Unit]
Description={{ app_description }}
After=network.target

[Service]
Type=idle
User={{ app_user }}
Group={{ app_group }}
ExecStart={{ app_home }}/bin/run.sh

[Install]
WantedBy=multi-user.target

