output {
  if "cp_tag" in [tags] {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      index => "company-part"
      document_id => "%{company_part_id}"
      manage_template => false
    }
  } else if "pf_tag" in [tags] {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      index => "pension-fund"
      document_id => "%{pfund_id}"
      manage_template => false
    }
  } else if "ts_tag" in [tags] {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      index => "tamal_stts-%{ts_year}"
      document_id => "%{tm_id}"
      manage_template => false
    }
  } else if "company_tag" in [tags] {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      index => "company"
      document_id => "%{company_id}"
      manage_template => false
    }
  }

  if "index_creation_failed" in [tags] {
    stdout { codec => rubydebug }
  }
}